<!-- <p-toast class="custom-toast" position="top-center"></p-toast> -->

<p-select [options]="mapKeys" [(ngModel)]="selectedAirportSetName" editable="true" placeholder="Select or add set name"
    (onChange)="onSelectAirportSetName($event)" emptyMessage=" ">
</p-select>


<button *ngIf="selectedAirportSetName && !setFound" pButton type="button" icon="pi pi-plus" (click)="addAirportSet()"
    label="Add" style="margin-left: 0.2rem;"></button>
<button *ngIf="selectedAirportSetName && setFound" pButton type="button" icon="pi pi-check" (click)="modifyAirportSet()"
    label="Mod" style="margin-left: 0.2rem;"></button>
<button *ngIf="selectedAirportSetName && setFound" pButton type="button" icon="pi pi-minus"
    (click)="deleteStationIdSet()" label="Del" style="margin-left: 0.2rem;"></button>